
{% extends 'base.html' %} {% block content %}


<!-- timer -->
<h1 id="counter">0</h1>
    <button id="start">Start</button>
    <button id="stop">Stop</button>
    <button id="reset">Reset</button>

    <h2 class="text-center p-2 text-bold bg-sky-200 ">LEARN FROM YOUR PDFs USING MCQS</h2>
  
    <div class="form text-center p-16 ">
        <h3 id="points"></h3>

        <form class="text-center bg-sky-200 p-14" action="http://127.0.0.1:5000/mcqs" method="POST" enctype="multipart/form-data">


        <label for="pdf_file" class="bg-slate-300 p-1" >Drop/Add your PDF</label><br><br>
        <input type="file" id="pdfEntry" name="pdf_file" required ><br><br>
        <button  class="bg-slate-400 hover:bg-slate-300 p-2 rounded submit" type="submit">Submit</button>
        </form>
         <br>
         <div class=" default">
            <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
       <!-- {% if load %}default{% else %}lds-roller{% endif %} -->
    </div>
      <h2>{{code}}</h2>
    <div class="flex justify-evenly p-6 rounded ">

        <div class="p-6 m-2 bg-slate-300 flex-1 ">
            
            <h2>pdf content</h2>
                 <div class="p-1">
                    <div class="qn bg-sky-200 p-4">
                        {{data}}
                        <!-- {{response.text}} -->
                    </div>
                    <div>
                        {{response}}

                    </div>
                   
                </div>

            

            
            
            
        </div>
        <div class=" p-6 m-2 bg-slate-300 flex-1">
            <h2>mcqs for you</h2>
             {% for qn in response %}
        <div class="flex flex-col m-2 rounded bg-sky-300 ">
            <div class="p-1">
                <div class="qn bg-sky-200 p-4">
                    {{ qn['question'] }}
                </div>
                    
                  
                 <ol class="list-decimal list-inside p-4">
                    
                    {% for option in qn['options'] %}
                    
                    <li> <input type="checkbox" class="option" name="{{i }}" value="{{ option }}" required> &nbsp; {{ option }}</li>
                    
                    
                     {% endfor %}
                </ol>
                <p>
                <small class="p-1">hover for answer    </small>
                <p class="rounded p-1 bg-black transition duration-600 hover:bg-sky-300 w-fit text-center answer"> {{ qn['answer']|safe }}</p>


                </p>
               
            </div>
        </div>
        {% endfor %}

        <p>varifys</p>
        <button onclick="varify()">varify</button>

            
        </div>
    </div>
    <div id="res"></div>

    <script>
       var socketio = io();
       socketio.on('Paris',(data)=>{
                console.log(data)
            })
       socketio.on("varify", (data) => {
             console.log(data);
        // Update the UI with the new points value
        // data.forEach(element => {
        //     console.log("-----")
        //     console.log(element)
        //     console.log("-----")
        //     let G = document.createElement("LI").innerHTML = `Points: ${element.name} : ${element.score} `;
            
            
        //     document.getElementById("points").appendChild(G)
        // });
        data=JSON.stringify(data)
        document.getElementById("points").innerHTML = `Points: ${data} : `;
        });
    
      function varify(){
    
           const answerss= document.querySelectorAll(".answer");
           const answers = Array.from(answerss).map(answer => answer.textContent);
            // const cleanedAnswers = Array.from(answers).map(answer => answer.replace(/&#39;/g, ''));
    

            // console.log('answers:', answers)
            // const elements = document.querySelectorAll('.answer');
            // const values = Array.from(elements).map(element => element.textContent);
            const elements = document.querySelectorAll('input.option:checked');
            const choices = Array.from(elements).map(element => element.value);
            // console.log("checked:",choices);
            const data={
                choices:choices,
                answers:answers
            }
            // console.log(data)
            socketio.emit("paris","nigger")
            
            console.log("data",data)
            socketio.emit("varify", data);

            

        
        // socketio.on("update_points", (points) => {
        //     console.log(`Received points: ${points}`);
        //     // Update the UI with the new points value
        //     document.getElementById("points").innerHTML = `Points: ${points}`;
        //     }); 
            // console.log(choices);
            // console.log(compare,points)
            
            
            

      }
    
    // Get a reference to the form
    const form = document.querySelector("form");

    // Add a submit event listener to the form
    form.addEventListener("submit", function(event) {
        // Prevent the default form submission behavior
        // event.preventDefault();

        // Get a reference to the .lds-roller element
        const ldsRoller = document.querySelector(".default");

        // Add the "default" class to the .lds-roller element
        ldsRoller.classList.add("lds-roller");
        ldsRoller.classList.remove("default");

        console.log("Form submitted. Adding .lds-roller. class to  'default'");
    });
    </script>

 <script>
      let intervalId;
      let count = 10;

      document.getElementById("start").addEventListener("click", function () {
        
        
        intervalId = setInterval(function () {
          count--;
           if(count==0){
            // window.alert("time over")
            varify()
            return
          }
          document.getElementById("counter").textContent = count;
        }, 1000);
 
       
      });

      document.getElementById("stop").addEventListener("click", function () {
        clearInterval(intervalId);
      });

      document.getElementById("reset").addEventListener("click", function () {
        count = 100;
        document.getElementById("counter").textContent = count;
        clearInterval(intervalId);
      });
    </script>
    
{% endblock %}