{% extends 'base.html' %} 
{% block content %}

<h2 class="text-center p-2 text-bold bg-sky-200 ">LEARN FROM YOUR PDFs USING MCQS</h2>
  
<!-- timer -->
<div class="flex flex-row justify-between m-6">
    <div class="bg-slate-300 p-2 w-48" >
        <h1 id="counter" class="p-2 bg-sky-200" >0</h1>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="reset">Reset</button>
        <div class="code p-2 bg-sky-200 mt-4">
            <h5><small> Room Code:</small> <b class="bg-sky-300 p-1">{{code}}</b></h5>
        </div>
    </div>

    <div class="form RGAG p-16 ">
    
    <ol id="points"></ol>
    <h2 class="readyGuy"></h2>
    <form id="FORM" class="text-center bg-sky-200 p-14" action="http://127.0.0.1:5000/mcqs" method="POST" enctype="multipart/form-data">
        <label for="pdf_file" class="bg-slate-300 p-1" >Drop/Add your PDF</label><br><br>
        <input type="file" id="pdfEntry" name="pdf_file" required ><br><br>
        <button  class="bg-slate-400 hover:bg-slate-300 p-2 rounded submit" type="submit"  >Submit</button>
    </form>
    <br>
    <div class="default  flex flex-col justify-items-center">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</div>

    <div class="members bg-slate-300 p-2 w-48">
        <h3 class="m-1 p-1 text-sm ">gang in the room</h3>
        <ol id="members" class="m-1 p-1 bg-sky-200 w-40 p-2">

        <!-- content from js -->
        </ol>
         <br><br>
         <div class="flex flex-col justify-items-center rounded">
            <h3 class="m-1 p-1 text-sm text-center rounded" >Ready to upload pdf?</h3>
            <button onclick="ready()" id="ready" class="rounded button ready self-center m-1 p-1 bg-blue-300 p-2 hover:bg-blue-100" >Ready</button>
        </div>
    </div>

</div>









<div class="flex justify-evenly p-6 rounded ">

    <div class="p-6 m-2 bg-slate-300 flex-1 ">
        <h2>Talk to your homies</h2>
        <div class="p-1">
            <div class="qn bg-sky-200 p-4">
               <div class="message-box">
                
                <div class="messages" id="messages"></div>
                <div class="inputs">
                    <input
                    type="text"
                    rows="3"
                    placeholder="Message"
                    name="message"
                    id="message"
                    />
                    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
                    Send
                    </button>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" p-6 m-2 bg-slate-300 flex-1">
        <h2>mcqs for you</h2>
        <div id="questions-container">
            <!-- Questions will be added dynamically here -->
           {% if response != "" %}
                 {% for qn in response %}
        <div class="flex flex-col m-2 rounded bg-sky-300 ">
            <div class="p-1">
                <div class="qn bg-sky-200 p-4 question">
                    {{ qn['question'] }}
                </div>
                    
                  
                 <ol class="list-decimal list-inside p-4 options">
                    
                    {% for option in qn['options'] %}
                    
                    <li> <input type="checkbox" class="option" name="{{i }}" value="{{ option }}" required> &nbsp; {{ option }}</li>
                    
                    
                     {% endfor %}
                </ol>
                <p>
                <small class="p-1">hover for answer    </small>
                <p class="rounded p-1 bg-black transition duration-600 hover:bg-sky-300 w-fit text-center answer"> {{ qn['answer']|safe }}</p>


                </p>
               
            </div>
        </div>
        {% endfor %} 
           {% endif %}
        </div>

        
        <button onclick="varify()">Submit</button>
    </div>

</div>
<div id="res"></div>

<script src="../static/room.js"></script>


{% endblock %}
